* {
  box-sizing: border-box;
}

body h1 {
  position: fixed;
  font-size: 25px;
  left: 0;
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: white;
}
body h1 #region-select {
  height: 40px;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  font-size: 25px;
}
body h1 span {
  display: block;
  padding-left: 220px;
  height: 40px;
  line-height: 40px;
}
body .restaurantBox {
  padding: 60px 10px;
}
body .restaurantForm {
  margin-bottom: 20px;
}
body .restaurantList .restaurant {
  margin-bottom: 20px;
}
body .restaurantList .restaurant .restaurantName {
  font-size: 20px;
  margin-bottom: 10px;
}